body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #ced6d6;
    border-width: 7px;
    width: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: #1cb6bc;
}

p {
    line-height: 2;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 500%;
    font-family: 'Sacramento', cursive;
    color: #38d9a9;
}

.subtitle {
    font-size: 110%;
    font-family: 'Montserrat', sans-serif;
    color: #38d9a9;
}

.top {
    background-color: #E4F9F5;
    padding-top: 8%;
    position: relative;
}

.bottom-cloud {
    position: absolute;
    height: 20%;
    width: 15%;
    left: 10%;
    bottom: 50%;
}

.top-cloud {
    position: absolute;
    height: 15%;
    width: auto;
    top: 10%;
    right: 10%;
}

.mountain {
    height: 28rem;
    width: auto;
}

.skill-row {
    width: 50%;
    margin: 6.25rem auto;
    text-align: left;
    line-height: 2;
}

.computer {
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 5%;
}

.chilli {
    width: 25%;
    float: right;
    margin-left: 5%;
}

.hello-txt {
    width: 35%;
    margin: auto;
}

.profile {
    margin: 5% auto 5% auto;
}

.bottom-container {
    background-color: #66BFBF;
    margin-bottom: 0;
    padding-top: 3%;
}

.copyright {
    margin-bottom: 0;
    color: white;
    font-size: 70%;
    padding: 3%;
    margin-top: 0;
}

.footer-link {
    text-decoration: none;
    color: #11999E;
    padding: 3%;
    margin-top: 3%;
}

.contact-me {
    line-height: 2;
    margin-bottom: 5%;
}

.contact-me-txt {
    width: 45%;
    margin: 3% auto;
}

.btn {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
    background-image: -moz-linear-gradient(top, #11999E, #66BFBF);
    background-image: -ms-linear-gradient(top, #11999E, #66BFBF);
    background-image: -o-linear-gradient(top, #11999E, #66BFBF);
    background-image: linear-gradient(to bottom, #11999E, #66BFBF);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 12px 14px 12px 14px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
    background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
    background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
    background-image: -o-linear-gradient(top, #66BFBF, #11999E);
    background-image: linear-gradient(to bottom, #66BFBF, #11999E);
    text-decoration: none;
  }